<html>
<body>
<div id = "events">
<table id = "eventTable">
	<tr> 
		<td> Challenge Name </td>
		<td> Category </td>
		<td> Value </td>
	</tr>
</table>
<div id = "data"></div>
</div>
</body>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script>
$(document).ready(function() {
	$.ajax({
		url: "/api/admin/challenges",
		method: "POST",
		data: {eventid: 3},
		dataType: "json"
	}).done(function (data) {
		data.forEach(function (entry) {
			var s = '<tr><td>'+entry.name+'</td>';
			s+= '<td>'+entry.category+'</td>';
			s+= '<td>'+entry.value+'</td>';
			$("#eventTable").append(s);
		});
	});
});
</script>
</html>