<html>
<body>
<form id = "subform"></form>

<div id = "events">
<div class = "subbox">
	
</div>
<table id = "eventTable">
</table>
</div>
</body>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script>

$("form#subform").submit(function(e) {
	alert('subing');
	$.ajax({
		type: "POST",
		url: "/api/submit",
		data: $("form#subform").serialize(),
		dataType: "JSON",
		success: function(data) {
			alert(data.chalid);
			getEvents();
		}
	});
	e.preventDefault();
});

function generateChalbox(id,name) {
	var s = name+": <input type = 'text' name = 'submission'><input type = 'hidden' name = 'chalid' value = "+id+"><input type = 'submit'></form>";
	$('form#subform').html(s);
}

function getChallenges(id) {
	$("#events").empty();
	var s = '<div class = "subbox"></div>';
	s += '<table id = "challengeTable">'
	s += '<tr>';
	s += '<td> Challenge Name </td>';
	s += '<td> Category </td>';
	s += '<td> Value </td>';
	s += '</tr>';
	s += '</table>';
	$("#events").append(s);

	$.ajax({
		url: "/api/challenges",
		dataType: "json",
		method: "POST",
		data: {eventid: id}
	}).done(function (data) {
		data.forEach(function (entry) {
			var s = '<tr><td><div id = "subtoggle" onclick = \'javascript:generateChalbox('+entry.id+', "'+entry.name+'")\'>'+entry.name+'</div></td>';
			s+= '<td>'+entry.category+'</td>';
			s+= '<td>'+entry.value+'</td></tr>';
			$("#challengeTable").append(s);
		});
	});

	$("#events").append("<div id = 'getEvents' onclick = 'javascript:getEvents()'>Back</div>");
}

function getEvents() {
	$("#events").empty();
	$("form#subform").empty();
	var s = '<table id = "eventTable">'
	s += '<tr>';
	s += '<td> Event Name </td>';
	s += '<td> Start </td>';
	s += '<td> End </td>';
	s += '<td> Admin </td>';
	s += '</tr>';
	s += '</table>';
	$("#events").append(s);

	$.ajax({
		url: "/api/admin/events",
		dataType: "json"
	}).done(function (data) {
		data.forEach(function (entry) {
			var s = '<tr><td>'+entry.name+'</td>';
			s+= '<td>'+entry.start+'</td>';
			s+= '<td>'+entry.end+'</td>';
			s+= '<td>'+entry.admin+'</td>';
			s+= '<td><div class = "thisbutton" onclick="javascript:getChallenges('+entry.id+')"> Click me! </div></td></tr>';
			$("#eventTable").append(s);
		});
	});
}

getEvents();

</script>
</html>