<html>
<head>
    <title>BitsForEveryone!</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BitsForEveryone</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/events">Play!</a></li>
                <li class="active"><a href="/admin">Admin</a></li>
                <li class="active"><a href="/super">Super</a></li>
                <li><a href = "/logout">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container"><br><br><br>
    <div id = "scorebox"></div>

    <div id = "events">
        <div class = "subbox"></div>
        <table id = "eventTable" class = "table table-striped"></table>
    </div>
    <form id = "subform"></form>
    <div id = "status"></div>
    <div id = "back"></div>
</div>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="/js/events.js"></script>
</body>
</html>